canvas {
  border: 3px solid rgb(212, 122, 205);
  display: block;
  margin: auto;
  background-color: black;
}

body {
  font-family: "Shadows Into Light", cursive;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
  margin-left: 360px;
}
